
body {
    background-color: #c6c6c6;
}

div#myLocation {

	margin: 1em;
	padding: 0.5em;
	text-align: center;
	width: 13.5em;
}

div#weatherInfo {

	margin: 1em;
	padding: 0.5em;
	text-align: center;
	width: 13.5em;
}

div#countryList{
	background-color: yellow;
}

h2 {
	background-color: #718199
}

#CountryInfo {
	width: 100%;
	overflow-x: auto;
	background-color: #aaccff;
    font-family: arial, sans-serif;
}

table#CountryHead{
	background-color: #aaccff;
    font-family: arial, sans-serif;
    width: 100%;
}

table {
	background-color: #aaccff;
    font-family: arial, sans-serif;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;

}
tr:nth-child(even) {background-color: #c4dbff;}
tr:hover {background-color: #f5f5f5};


